/* Cuerpo de página web */

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}


/* Header */

.header {
    background: url("Empresa/yeah.jpeg");
    padding: 85px;
    color: white;
    text-align: center;
}


/* Contenedor de página */

.contenedor {
    color: azure;
    font-size: 20px;
    text-align: center;
}

.contenedor1 {
    color: gray;
    font-size: 22px;
    padding-top: 100px;
    text-align: center;
}

.active {
    background-color: red;
}


/* Navegación web Enlaces */

ul {
    background-color: #4CAF50;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: white;
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: red;
    border-radius: 40px;
}


/* Diseño de barra de búsqueda centro */

.search-box {
    background: transparent;
    border-radius: 40px;
    left: 50%;
    max-height: 40px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

.search-box:hover>.search-txt {
    padding: 0 5px;
    width: 250px;
}

.search-box:hover>.search-btn {
    background: azure;
}

.search-txt {
    background: none;
    border: none;
    color: azure;
    line-height: 50px;
    float: left;
    font-size: 18px;
    padding: 1px;
    transition: 0.4s;
    outline: none;
    width: 0px;
}

.search-btn {
    align-items: center;
    background: orangered;
    border-radius: 50%;
    color: orange;
    display: flex;
    height: 40px;
    justify-content: center;
    float: right;
    transition: 0.4s;
    width: 40px;
}


/* Barra de navegación */

.topmenu {
    background-color: #4CAF50;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topmenu li {
    float: left;
}

.topmenu li a {
    color: white;
    display: inline-block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

.topmenu li a:hover {
    background-color: orangered;
    border-radius: 20px;
}

.topmenu li a.active {
    color: white;
    background-color: #4CAF50;
}

.sidemenu {
    width: 15%;
}

.content {
    width: 100%;
}

.sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidemenu li a {
    background-color: #eee;
    color: #666;
    display: block;
    margin-bottom: 4px;
    padding: 8px;
    text-decoration: none;
}

.sidemenu li a:hover {
    background-color: #555;
    color: white;
}

.sidemenu li a.active {
    background-color: #008CBA;
    color: white;
}


/* Navegación del sitio */

form {
    padding: 0 200px;
    text-align: center;
}

section {
    border: 2px solid transparent;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

table {
    padding: 0 190px;
}

caption {
    color: black;
    height: 30pt;
    font-weight: bold;
}

th {
    background: transparent;
    color: black;
    text-align: center;
}

.td {
    border: 2px solid black;
    color: black;
    font-size: small;
    padding: 40px;
    text-align: justify;
    vertical-align: middle;
    width: 40px;
    margin-top: 40px;
}

.row {
    background: transparent;
    margin: 30px;
}

.etiqueta1 {
    text-align: center;
}


/* Formulario de contacto */

textarea {
    border: 2px solid gray;
    margin-bottom: 20px;
    height: 100px;
    width: 800px;
}

.row {
    height: auto !important;
    vertical-align: top;
}


/* Diseño de tabla de vacantes */

.div {
    border: 3px solid red;
    height: 225px;
    margin-top: 15px;
    padding-top: 20px;
    width: 770px;
}

.div2 {
    border: 2px solid yellow;
    width: 120px;
    height: 100px;
}

#overflowTest {
    color: black;
    background: white;
    border: 2px solid blue;
    height: 250px;
    margin: 150px;
    padding: 0 150px 0;
    overflow: scroll;
    width: 55%;
}


/* Pie de página */

footer p {
    border: 2px solid black;
    color: black;
    text-align: center;
}